---
import Layout from "../layouts/default.astro";
import CoverImage from "../images/cover_1.jpg";
import TrackListItem from "../components/TrackListItem.astro";
import TrackList from "../components/TrackList.astro";
---

<Layout>
  <div class="container">
    <div class="album-summary">
      <div class="cover-image">
        <img src={CoverImage.src} alt="" />
      </div>
      <p class="title">Learner's Toolkit Deluxe Edition</p>
      <div class="date-runtime">
        <p class="release-date">Album • 2022</p>
        <p class="runtime">13 Blogs • 45 minutes</p>
      </div>
      <p class="blurb">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed...
      </p>
    </div>
    <TrackList />
  </div>
</Layout>

<style>
  /* Mobile Styles */
  body {
  }

  .container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-self: center;
    justify-items: center;
    padding: 6rem 1rem;
    gap: 6rem 4rem;
    color: var(--text);
    font-size: var(--body-mobile);
    font-family: "Manrope";
  }

  .album-summary {
    height: fit-content;
    text-align: center;
    min-width: 150px;
    max-width: 300px;
    display: grid;
    gap: 0.5rem;
  }

  .title {
    font-size: var(--title-mobile);
    font-family: "Domine";
    font-weight: 700;
  }

  .date-runtime,
  .blurb {
    font-weight: 600;
    color: var(--accent);
  }

  .cover-image {
    max-width: 100%;
    overflow: hidden;
    place-self: center;
    img {
      width: 100%;
      display: block;
    }
  }

  @media screen and (min-width: 810px) {
    .container {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      font-size: var(--body-desktop);
      max-width: 800px;
    }

    .title {
      font-size: var(--title-medium-desktop);
    }
  }
</style>
