---
import Layout from "../layouts/default.astro";
import SinglesList from "../components/SinglesList.astro";
---

<Layout>
  <div class="container">
    <h1>Singles</h1>
    <SinglesList showFeatures={false} />
  </div>
</Layout>

<style>
  .container {
    font-family: var(--font-secondary);
    font-size: var(--body-mobile);
    max-width: 600px;
    padding: 1rem 0;
  }

  h1 {
    font-size: var(--title-mobile);
    font-family: var(--font-primary);
    font-weight: 800;
    color: var(--accent);
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 810px) {
    h1 {
      font-size: var(--title-desktop);
    }
  }
</style>
