---
import Layout from "../layouts/default.astro";
import { getCollection } from "astro:content";
import { formatTime, parseTime } from "../utils/format-timestamps";

const posts = await getCollection("singles");
---

<Layout>
  <div class="container">
    <h1>Singles</h1>
    <ul>
      {
        posts.map((post) => {
          return (
            <li>
              <a href={`/singles/${post.slug}`}>{post.data.title}</a>
              <small class="date-runtime">
                <p>
                  {formatTime(parseTime(post.data.runtime))} • {post.data.date}
                </p>
              </small>
            </li>
          );
        })
      }
    </ul>
  </div>
</Layout>

<style>
  .container {
    font-family: "Damine";
    font-size: var(--body-mobile);
    max-width: 600px;
    padding: 1rem 0;
  }

  h1 {
    font-size: var(--title-mobile);
    font-family: "Manrope";
    font-weight: 800;
    color: var(--accent);
    margin-bottom: 2rem;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: var(--accent);
    }
  }

  li {
    a {
      display: inline-block;
      margin-bottom: 0.5rem;
      font-size: var(--title-mobile);
      font-style: italic;
    }
  }

  small {
    font-family: "Manrope";
    color: var(--accent);
  }

  @media screen and (min-width: 810px) {
    .container {
      font-size: var(--body-desktop);
    }

    h1 {
      font-size: var(--title-desktop);
    }
  }
</style>
