---
const { title, runtime } = Astro.props;
---

<li>
  <a href="#"><p class="blog-title">{title}</p></a>
  <time datetime="PT3M5S">{runtime}</time>
</li>

<style>
  li {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem 2rem;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    word-spacing: 2px;
  }

  a:hover {
    color: var(--accent);
  }

  @media screen and (min-width: 810px) {
    li {
      align-items: center;
    }
  }
</style>
