---
import TrackListItem from "./TrackListItem.astro";

const { blogs } = Astro.props;
const sortedBlogs = [...blogs].sort((a, b) => a.data.track - b.data.track);
---

<div class="tracklist">
  <ul class="blogs">
    {
      sortedBlogs.map((blog) => {
        const pageSlug = blog.slug.split("/").pop();
        console.log(pageSlug);
        return (
          <TrackListItem
            title={blog.data.title}
            runtime={blog.data.runtime}
            href={`/${blog.data.albumslug}/${pageSlug}`}
          />
        );
      })
    }
  </ul>
</div>
<style>
  .tracklist {
    font-family: var(--font-primary);
    place-items: center;
  }
  .blogs {
    width: 100%;
    display: grid;
    gap: 2rem;
  }

  @media screen and (min-width: 810px) {
    .blogs {
      gap: 3rem;
    }
  }
</style>
