---
const props = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <header>
      <nav>
        <a id="text-logo" href="/">Hashir Shah</a>
        <div class="nav-links-desktop">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/singles">Singles</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
        <div class="nav-links-mobile">
          <svg
            id="close-hamburger-menu"
            xmlns="http://www.w3.org/2000/svg"
            width="2rem"
            viewBox="0 0 24 24"
            {...props}
          >
            <path
              fill="currentColor"
              d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12z"
            ></path></svg
          >
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/singles">Singles</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
        <svg
          id="hamburger-icon"
          width="2.5rem"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          {...props}
        >
          <path fill="currentColor" d="M3 6h18v2H3zm0 5h18v2H3zm0 5h18v2H3z"
          ></path></svg
        >
      </nav>
    </header>
    <div class="content">
      <slot />
    </div>
    <footer>
      <a id="text-logo" href="/">Hashir Shah</a>
      <div class="footer-explore">
        <p class="footer-section-title">Explore</p>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/singles">Singles</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      <div class="footer-contact">
        <p class="footer-section-title">Contact</p>
        <ul>
          <li>
            <a href="https://github.com/HashMaster02" target="_blank">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/hashirshah/" target="_blank"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </footer>
    <script>
      import "../scripts/mobile-nav";
    </script>
  </body>
</html>

<style is:global>
  :root {
    /* Colors */

    --neutral: rgb(200, 200, 200);
    --text: rgb(238, 231, 231);
    --background: rgb(31, 31, 31);
    --primary: rgb(198, 175, 174);
    --secondary: rgb(77, 90, 63);
    --accent: rgb(114, 153, 108);

    /* Mobile Font Sizes */
    --title-mobile: 24px;
    --body-mobile: 14px;
    --subtitle-mobile: 14px;

    /* Desktop Font Sizes */
    --title-desktop: 45px;
    --title-medium-desktop: 32px;
    --body-desktop: 16px;
    --subtitle-desktop: 16px;

    /* Padding */
    --global-side-padding-desktop: 4rem;
    --global-side-padding-mobile: 1rem;
  }

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
</style>

<style>
  /* Mobile Styles */

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background-color: var(--background);
    color: var(--text);
  }

  .content {
    display: grid;
    flex-grow: 1;
    gap: 3rem 0;
    padding: 1rem var(--global-side-padding-mobile);
  }

  a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }

  #text-logo {
    font-family: "Shippori Mincho";
    text-wrap: nowrap;
  }

  header {
    padding: 0.5rem var(--global-side-padding-mobile);
    background-color: var(--background);
    border-bottom: 1px solid var(--neutral);

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      #text-logo {
        font-size: 24px;
      }
    }

    #hamburger-icon:active {
      color: var(--primary);
    }

    #close-hamburger-menu:active {
      color: var(--background);
    }

    ul {
      font-family: "Manrope";
      font-weight: 600;
      color: var(--text);
      display: flex;
    }

    li {
      transition:
        background-color 0.1s,
        color 0.1s;

      a {
        display: grid;
        height: 100%;
        padding: 1rem;
      }
    }

    li:hover {
      color: var(--text);
      background-color: var(--accent);
    }
  }

  .nav-links-desktop {
    display: none;
  }

  .nav-links-mobile {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;

    svg {
      margin-bottom: 2rem;
    }

    ul {
      display: flex;
      flex-direction: column;
    }
  }

  footer {
    font-family: "Manrope";
    font-size: var(--subtitle-mobile);
    display: grid;
    gap: 2rem;
    background-color: var(--background);
    padding: 1rem var(--global-side-padding-mobile);

    border-top: 1px solid var(--neutral);

    svg {
      max-width: 150px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        color: var(--secondary);
        padding: 0.25rem;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    li {
      padding: 0.5rem 0.25rem;
      & > a:hover {
        text-decoration: underline;
      }
    }
    #text-logo {
      font-size: 32px;
    }
  }

  /* Desktop Styles */

  @media screen and (min-width: 810px) {
    header {
      max-height: 60px;
      height: 100vh;
      padding: 0 var(--global-side-padding-desktop);

      nav {
        height: 100%;

        #text-logo {
          font-size: 32px;
        }
      }

      .nav-links-desktop {
        height: 100%;
      }

      ul {
        height: 100%;
      }

      li {
        a {
          padding: 0rem 2rem;
          place-items: center;
        }
      }
    }

    .content {
      padding: 1rem var(--global-side-padding-desktop);
    }

    .nav-links-mobile,
    #hamburger-icon {
      display: none;
    }
    .nav-links-desktop {
      display: block;
    }

    footer {
      font-size: var(--subtitle-desktop);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 2fr;
      padding: 2rem var(--global-side-padding-desktop) 4rem
        var(--global-side-padding-desktop);

      svg {
        max-width: 300px;
      }

      .footer-contact {
        grid-row-start: 2;
      }
      .footer-explore {
        grid-col-start: 2;
        grid-row-start: 2;
        border-right: 1px solid var(--secondary);
      }

      #text-logo {
        font-size: 42px;
      }
    }
  }
</style>
